#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.simStockMenu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  padding: 10px;
  cursor: pointer;
}

.simStockMenu > p {
  font-size: 20px;
  cursor: pointer;
}

.simStockMenu > p:hover {
  color: #646cff;
  font-weight: 500;
}

.modalInner {
  display: flex;
  margin: auto;
  /* width: 200px; */
  /* position: absolute; */
  height: 100%;
  /* align-items: center; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modalInnerMost {
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}

.modalClose {
  float: right;
  border: solid 1px black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}