#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.simStockMenu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.simStockMenu > p {
  font-size: 20px;
  cursor: pointer;
}

.simStockMenu > p:hover {
  color: #646cff;
  font-weight: 500;
}

.modalInner {
  display: flex;
  margin: auto;
  /* width: 200px; */
  /* position: absolute; */
  height: 100%;
  /* align-items: center; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modalInnerMost {
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}

.modalClose {
  float: right;
  border: solid 1px black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.googleAuthContainer {
  margin: 10px;
}

/* override @react-oauth/google default style as props for alignment aren't working. */
.googleAuthContainer > div > div {
      width: 100%;
      display: flex;
      justify-content: center;
}

.errorContainer{
  margin-top: 10px;
  color: red;
  text-align: left;
}

.errorContainer p {
  margin: 0;
}

.errorContainer p span{
  font-weight: 1000;
}

.chatWindowContainer{
  position: fixed;
  right: 10px;
  bottom: 10px;
  max-width: 500px;
  z-index: 100;
  max-height: 98vh;
}

.chatWindowContainer svg{
  cursor: pointer;
  transition: transform 0.5s;
}

.chatWindowContainer > svg:hover{
  transform: scale(1.5);
  transition: transform 0.5s;
}

.chatHeader {
  margin: 0;
  border-bottom: solid 1px black;
}

.messageContainer {
  max-height: 90vh;
  padding: 10px;
  overflow-y: auto;
}

.messageIcon {
  margin: 0;
  text-align: left;
}

.message {
  /* width: 50%; */
  min-width: 100px;
  display: flex;
  margin: 0px;
  padding: 10px;
  justify-content: flex-end;
}

.message.assistant {
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: flex-start;
}

.positive, .negative {
  font-size: 25px;
  font-weight: 700;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.pinFormItem {
  width: 40px !important;
  margin:10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pinFormItem input {
  text-align: center;
  font-size: 40px;
}

.upgradeLink{
  display: block;
  transform: rotate(-45deg);
}